<% content_for :title, "Editing plano" %>

<h1>Editing plano</h1>

<%= render "form", plano: @plano %>

<br>

<div>
  <%= link_to "Show this plano", @plano %> |
  <%= link_to "Back to planos", planos_path %>
</div>
